## Module 3 Final Project Submission
* Student name: Emily J. Cain
* Student pace: full time
* Scheduled project review date/time: January 11, 2019
* Instructor name: Rafael Carrasco
* Blog post URL:

## Data Information
* Source: Dua, D. and Karra Taniskidou, E. (2017). UCI Machine Learning Repository [http://archive.ics.uci.edu/ml]. Irvine, CA: University of California, School of Information and Computer Science
* Origin: 1987 National Indonesia Contraceptive Prevalence Survey
* Creator & Donor: Tjen-Sien Lim (limt@stat.wisc.edu)

## Description
This dataset is a subset of the 1987 National Indonesia Contraceptive Prevalence Survey. The samples are married women who were either not pregnant or do not know if they were at the time of interview.

## Features
* Wife's age
* Wife's education
 * 1 = none
 * 2 = some primary
 * 3 = primary completed
 * 4 = secondary or more
* Husband's education
 * 1 = none
 * 2 = some primary
 * 3 = primary completed
 * 4 = secondary or more
* Wife's religion
 * Non-Islam
 * Islam
* Wife currently working
* Husband's occupation
* Standard-of-living Index
 * 1 = low
 * 2
 * 3
 * 4 = high
* Media Exposure

## Target
* Contraception
 * 1 = none
 * 2 = long-term
 * 3 = short-term

In [ ]:
# Notes to self
# change some of the binary variables (wife working & media exposure)

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('contraception.csv')

In [3]:
df.head()

,wife_age,wife_education,husband_education,num_children,wife_islam,wife_working,husband_occupation,living_index,media_exposure,contraceptive
0,24,2,3,3,1,1,2,3,0,1
1,45,1,3,10,1,1,3,4,0,1
2,43,2,3,7,1,1,3,4,0,1
3,42,3,2,9,1,1,3,3,0,1
4,36,3,3,8,1,1,3,2,0,1

In [4]:
df.describe()

,wife_age,wife_education,husband_education,num_children,wife_islam,wife_working,husband_occupation,living_index,media_exposure,contraceptive
count,1473.000000,1473.000000,1473.000000,1473.000000,1473.000000,1473.000000,1473.000000,1473.000000,1473.000000,1473.000000
mean,32.538357,2.958588,3.429735,3.261371,0.850645,0.749491,2.137814,3.133741,0.073999,1.919891
std,8.227245,1.014994,0.816349,2.358549,0.356559,0.433453,0.864857,0.976161,0.261858,0.876376
min,16.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000
25%,26.000000,2.000000,3.000000,1.000000,1.000000,0.000000,1.000000,3.000000,0.000000,1.000000
50%,32.000000,3.000000,4.000000,3.000000,1.000000,1.000000,2.000000,3.000000,0.000000,2.000000
75%,39.000000,4.000000,4.000000,4.000000,1.000000,1.000000,3.000000,4.000000,0.000000,3.000000
max,49.000000,4.000000,4.000000,16.000000,1.000000,1.000000,4.000000,4.000000,1.000000,3.000000